.cover {
  background: url(../static/img/slides/13.JPG) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 75% 25%;
  background-attachment: scroll;
}

#about {
  z-index: 99;
}

@media (min-width: 768px) {
  .cover .img-container {
    margin-right: 16px;
  }
}

.btn-container,
.certs-container {
  padding: 16px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.certs-container img {
  width: 66px;
  margin: 0 0.33rem;
}

#about .container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 433px;
  height: 100%;
  padding: 1rem;

  background-image: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.44),
    rgba(255, 255, 255, 0)
  );
}

#about h3 {
  font-size: 115%;
  margin-top: 0.5rem;
  margin-bottom: 0;
  text-align: center;
}
