.cover {
  background: url(../static/img/slides/paradise.png) no-repeat center center
    fixed;

  color: white;

  padding-top: 80px;
  min-height: 77vh;
}

.cover nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  z-index: 9;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav span,
.nav-item.phone {
  color: white !important;
}

.cover .navbar-collapse {
  margin-top: 0;
}

@media (min-width: 768px) {
  .cover {
    padding-left: 0%;
    text-align: center;
    padding-top: 180px;
  }
}

.cover .layer {
  background: rgba(0, 0, 0, 0.33);
}

.cover .block {
  z-index: 9;
  max-width: 768px;
  margin: 0 auto;
}

.cover h1,
h2 {
  font-family: "Mukta", Arial, Helvetica, sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.cover h1 {
  font-size: 24px;
  margin-bottom: 24px;
}

.cover span {
  margin: 0 auto;
}

h2 {
  font-size: 68px;
}

.section {
  background: white;
  background-attachment: fixed;
  border-top: 8px #ffd700 solid;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 8px;
}

.section .block {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto;
}

.container h3 {
  text-align: center;
  margin-top: 16px;
}

#retreats-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.retreat {
  max-width: 400px;
  border: 4px solid #ffd700;
  padding: 16px;
  margin: 16px;
}

.retreat h4,
.retreat h5,
.retreat h6 {
  text-align: center;
}

.retreat p {
  font-weight: bold;
}
