@import url("https://fonts.googleapis.com/css?family=Mukta:200,300,400");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: url(../static/img/sri-yantra-faded.jpg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;

  font-family: "Mukta", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

p.highlight {
  background: rgba(0, 0, 0, 0.77);
  padding: 8px;
  margin: 32px auto;
  color: white;
  font-size: 16px;
  text-align: center;
}

p.highlight.eye-catcher {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}

@media (min-width: 768px) {
  p.highlight {
    margin: 64px auto;
  }
}

.cover {
  min-height: 100vh;
  height: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;

  padding: 8px;
}

.cover nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  z-index: 99999;

  background: rgba(255, 255, 255, 0.88);
}

@media (min-width: 900px) {
  .cover nav {
    background: transparent;
  }
}

.cover .navbar-collapse {
  margin-top: 0;
}

.fa.fa-navicon {
  color: white;
}

@media (min-width: 768px) {
  .cover {
    flex-direction: row;
    text-align: left;
    justify-content: flex-start;
    padding-left: 20%;
  }
}

.layer {
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cover .navbar-nav.social-icons {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cover .navbar-nav.social-icons .nav-item {
  flex-direction: row;
  margin: 8px;
}

.navbar-nav.links {
  margin-top: -16px;
}

.nav-item a {
  color: #0047ab !important;
  font-size: 20px;
  font-weight: 300;
}

.nav-item.active a {
  font-weight: 500;
  border-bottom: 4px solid #ffd700;
  padding-bottom: 4px;
}

.nav-item a:hover {
  color: #ffd700 !important;
}

.nav-item.phone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
  color: #0047ab;
  font-size: 20px;
}

.nav-item.phone span {
  margin-left: 4px;
  font-size: 80%;
}

.nav-link.fb {
  color: #3b5998 !important;
}
.nav-link.ig {
  color: #e4717a !important;
}
.nav-link.twitter {
  color: #1da1f2 !important;
}
.nav-link.yt {
  color: #c4302b !important;
}

.navbar a {
  font-weight: 300;
}

.navbar-light .navbar-toggler {
  border: none;
}

@media (min-width: 768px) {
  .navbar-nav {
    align-items: center;
  }
  .navbar-brand .block h1 {
    font-size: 150%;
  }

  .navbar-brand .block h2 {
    font-size: 95%;
  }
}

@media (min-width: 992px) {
  .navbar {
    align-items: flex-start;
    text-transform: uppercase;
  }

  .navbar-collapse {
    flex-direction: column;
    margin-top: 16px;
  }

  .navbar-nav.social-icons,
  .navbar-nav.social-icons .nav-item a {
    font-size: 24px !important;
  }
  .nav-item.phone span {
    margin-left: 8px;
    padding-bottom: 3px;
  }
}

.btn-container {
  text-align: center;
}

.btn-container .btn {
  margin: 2px;
}

section,
.section {
  padding: 8px;
  position: relative;
}

.section.large .block,
section.large .block {
  max-width: 1024px;
  margin: 0 auto;
}

.section .header,
section .header {
  margin: 24px auto;
  text-align: center;
}

.section .head-container,
section .head-container {
  padding: 32px 0 32px 0;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.section .foot-container,
section .foot-container {
  padding: 16px 0 16px 0;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.section .foot-container h3,
section .foot-container h3 {
  font-size: 110%;
}

.section .foot-container p,
.section .foot-container .btn,
section .foot-container p,
section .foot-container .btn {
  font-size: 85%;
}

.showcase-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 8px;
  margin: 16px auto;
}

.showcase-item img {
  width: 100vw;
  max-width: 360px;
}

.showcase-item p {
  margin: 8px auto;
  text-align: center;
  padding: 4px;
}

@media (min-width: 768px) {
  .showcase-item {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .showcase-item:nth-child(even) {
    flex-direction: row-reverse;
  }

  .showcase-item p {
    margin: auto 8px;
    text-align: justify;
  }
}

.divider {
  height: 2px;
  background: #ffd700;
  width: 100px;
  margin: 8px auto;
}

.divider.left {
  margin: 8px 0;
}

.divider.thick {
  height: 4px;
}

.divider.no-margin {
  margin: 0;
}

.video-container {
  padding: 16px;
  background: rgba(255, 255, 255, 0.25);
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#certs {
  background: rgba(255, 255, 255, 0.77);
  color: #0047ab !important;
  border-top: 8px #ffd700 solid;
}

#certs .certs-container {
  padding: 16px 0 0 0;
  text-align: center !important;
}

#certs .certs-container img {
  width: 77px;
  margin: 16px;
}

#certs h3,
#certs .divider {
  text-align: center !important;
}
#certs .divider {
  margin: 8px auto;
}
