.cover {
  background: url(../static/img/slides/0.JPG) no-repeat center center fixed;

  color: white;
}

@media (min-width: 768px) {
  .cover {
    padding-left: 0%;
    text-align: center;
    padding-top: 180px;
  }
}

.cover .layer {
  background: rgba(0, 0, 0, 0.33);
  z-index: 0;
}

.cover .block {
  z-index: 2;
  max-width: 768px;
  margin: 0 auto;
}

.cover h1,
h2 {
  font-family: "Mukta", Arial, Helvetica, sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
}

.cover h1 {
  font-size: 3rem;
  margin-bottom: 24px;
}

#testimonials {
  background: rgba(9, 9, 121, 1);
  color: white;
}

#testimonials-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 0 auto;
}

#testimonials-container .video-container {
  max-width: 420px;
  width: 100vh;
  margin: 8px;
}
