.cover {
  background: url(../static/img/slides/0.JPG) no-repeat center center fixed;

  color: white;

  padding-top: 80px;
}

.cover nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  z-index: 9;
}

.cover .navbar-collapse {
  margin-top: 0;
}

@media (min-width: 768px) {
  .cover {
    padding-left: 0%;
    text-align: center;
    padding-top: 180px;
  }
}

.cover .layer {
  background: rgba(255, 255, 255, 0.33);
  z-index: 0;
}

.cover .block {
  z-index: 9;
  max-width: 768px;
  margin: 0 auto;
}

.cover h1,
h2 {
  font-family: "Mukta", Arial, Helvetica, sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #0047ab;
}

.cover h1 {
  font-size: 24px;
  margin-bottom: 24px;
}

#testimonials {
  background: #72102c;
  color: white;
}

#testimonials-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 0 auto;
}

#testimonials-container .video-container {
  max-width: 420px;
  width: 100vh;
  margin: 8px;
}
