.cover {
  background: url(../static/img/slides/5.JPG) no-repeat center center fixed;

  padding-top: 80px;

  min-height: 80vh;
  color: white;

  text-align: center;
  justify-content: center;
  padding-left: 8px;

  position: relative;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav span,
.nav-item.phone {
  color: white !important;
}

.block {
  z-index: 9;
}

.block.vertical {
  text-align: center;
}

.cover .layer {
  background-color: rgba(0, 0, 0, 0.33);
}

h1 {
  font-family: "Mukta", Arial, Helvetica, sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 68px;
  max-width: 768px;
  margin: 0 auto;
  line-height: 60px;
}

h2 {
  text-align: center;
}

.section.section.training-modules .block {
  flex-wrap: wrap;
}

.section.training-modules,
.section.module-info {
  border-top: 8px solid rgba(255, 255, 255, 0.2);
  padding-top: 64px;
  background: rgba(0, 71, 171, 0.9);
  color: white;
}

.section.training-modules .block,
.section.module-info .block {
  max-width: 900px;
  margin: 0 auto;
}

.section.training-modules .block {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.teacher-training-card {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  margin: 8px;
  padding: 16px;
  text-align: center;
  max-width: 400px;
}

.teacher-training-card .highlight {
  margin: 8px auto;
}

.section.module-info {
  border-top: none;
}

.section.section.module-info .divider {
  margin-bottom: 32px;
}
